<% if(session[:dialog_mode] === 'signin' ||
  session[:dialog_mode] === 'signup' ||
  session[:dialog_mode] === 'edit' ||
  session[:dialog_mode] === 'show') %>
<%= render 'login_form' %>
<% elsif session[:dialog_mode] === 'write' ||
    session[:dialog_mode] === 'editblog' %>
<%= render 'write_blog_form' %>
<% elsif session[:dialog_mode] === 'comment' ||
  session[:dialog_mode] === 'editcomment' %>
<%= render 'comment_form' %>
<% end %>

<h1>Blogs</h1>
<%
from = 0;
from = session[:from] if session[:from] != nil
to = from + 10
to = @blogs.length - 1 if to >= @blogs.length
(from..to).each do |i|
  blog = @blogs[i]
  user = User.find_by_id(blog.user_id)
%>
<div class="blog_item">
  <div class="blog_outline">
    <div class="blog_image">
      <img src="/images/<%=user.image%>" alt="user_image">
    </div>
    <div class="blog_info">
      <div class="blog_title">
        <%=blog.title%>
      </div>
      <div class="blog_edit">
        @<%= user.fullname %>
        <%= link_to 'Comment', "/comments/#{blog.id}", {method: 'post', local: true} if logged_in? %>
        <% if logged_in? && user.id == @user.id %>
          <%= link_to 'Delete', "/blogs/#{blog.id}", {method: 'delete', local: true} %>
          <%= link_to 'Edit', "/blogs/#{blog.id}", {method: 'patch', local: true} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="blog_body">
    <%=blog.contents%>
    <% blog.comments.each do |comment|
      cuser = User.find_by_id(comment.user_id)
    %>
    <div class="blog_item blog_comment">
      <div class="blog_outline">
        <div class="blog_image">
          <img src="/images/<%=cuser.image%>" alt="user_image">
        </div>
        <div class="blog_info">
          <div class="blog_title">
            @<%= cuser.fullname %>
          </div>
          <div class="blog_edit">
            <% if logged_in? && cuser.id == @user.id %>
            <%= link_to 'Delete', "/comments/#{comment.id}", {method: 'delete', local: true} %>
            <%= link_to 'Edit', "/comments/#{comment.id}", {method: 'patch', local: true} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="comment_body">
        <%= comment.contents %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
